<a href="https://colab.research.google.com/github/Ani-94/ANN_Deep_learning/blob/main/ANN_adult_census.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Ani-94/Adult_census/main/adult.csv')

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [5]:
categorical_feature = [features for features in df.columns if df[features].dtype == 'O']

In [6]:
categorical_feature

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'country',
 'salary']

In [7]:
val = df[categorical_feature[0]].unique()[5]

In [8]:
val

' ?'

In [9]:
for i in categorical_feature:
    val1 = df[i].value_counts().sort_values(ascending=False).index[0]
    df_n = df[i].replace(val,val1)
    df[i] = df_n

In [10]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
df1= df.loc[:,df.columns=='salary']

In [12]:
val = df1['salary'].unique()[0]

In [13]:
df1['salary'] = (df1['salary'] != val).astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df['salary'] = df1

In [15]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [16]:
categorical_feature = [features for features in df.columns if df[features].dtype == 'O']

In [17]:
categorical_feature

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'country']

In [18]:
new_df = pd.get_dummies(df,columns=categorical_feature)

In [19]:
new_df

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,country_ Portugal,country_ Puerto-Rico,country_ Scotland,country_ South,country_ Taiwan,country_ Thailand,country_ Trinadad&Tobago,country_ United-States,country_ Vietnam,country_ Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32557,40,154374,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32558,58,151910,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32559,22,201490,9,0,0,20,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32560,52,287927,9,15024,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [20]:
y = new_df.loc[:,new_df.columns == 'salary']
x = new_df.loc[:,new_df.columns != 'salary']

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [22]:
import tensorflow as tf
from sklearn.preprocessing import StandardScaler

In [23]:
sc = StandardScaler()

In [24]:
xtrain=sc.fit_transform(X_train)
xtest=sc.transform(X_test)

In [25]:
xtrain

array([[-0.99325851,  0.62525819, -0.41471223, ...,  0.30740815,
        -0.04641669, -0.02055421],
       [-1.21396254,  0.23406959, -0.02621967, ...,  0.30740815,
        -0.04641669, -0.02055421],
       [-0.9196905 ,  0.12912346,  1.91624315, ..., -3.25300422,
        -0.04641669, -0.02055421],
       ...,
       [-0.47828244,  0.1705451 , -0.41471223, ...,  0.30740815,
        -0.04641669, -0.02055421],
       [ 0.62523771, -0.25760114, -0.41471223, ...,  0.30740815,
        -0.04641669, -0.02055421],
       [ 0.99307776, -0.63692667, -0.41471223, ...,  0.30740815,
        -0.04641669, -0.02055421]])

In [26]:
xtrain.shape

(26048, 105)

In [27]:
xtest

array([[ 0.33096567, -0.80160338,  1.52775059, ...,  0.30740815,
        -0.04641669, -0.02055421],
       [ 0.62523771, -0.26462272, -1.58018992, ...,  0.30740815,
        -0.04641669, -0.02055421],
       [ 1.80232586, -1.13935627, -0.41471223, ...,  0.30740815,
        -0.04641669, -0.02055421],
       ...,
       [-0.03687438,  2.72965461,  1.91624315, ...,  0.30740815,
        -0.04641669, -0.02055421],
       [-0.55185045,  0.311977  ,  1.13925802, ...,  0.30740815,
        -0.04641669, -0.02055421],
       [ 0.62523771, -0.72486624, -0.41471223, ...,  0.30740815,
        -0.04641669, -0.02055421]])

In [28]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,PReLU, ELU, ReLU
from tensorflow.keras.layers import Dropout

In [29]:
classifier = Sequential ()

In [30]:
classifier.add(Dense (104,input_shape=(105,), activation= 'relu'))

In [31]:
classifier.add(Dense(units=104, activation= 'relu'))

In [32]:
classifier.add(Dense(units=104, activation= 'relu'))

In [33]:
classifier.add(Dense(units=104, activation='relu'))

In [34]:
classifier.add(Dense(1, activation='sigmoid'))

In [35]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 104)               11024

 dense_1 (Dense)             (None, 104)               10920

 dense_2 (Dense)             (None, 104)               10920

 dense_3 (Dense)             (None, 104)               10920

 dense_4 (Dense)             (None, 1)                 105

=================================================================
Total params: 43,889
Trainable params: 43,889
Non-trainable params: 0
_________________________________________________________________

In [36]:
classifier.compile(optimizer='adam',loss= 'binary_crossentropy', metrics=['accuracy'])

In [37]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)

In [38]:
early_stopping= tf.keras.callbacks.EarlyStopping(
monitor='val_loss',
min_delta= 0.0001,
patience= 50,
verbose =1,
mode='auto',
baseline = None,
restore_best_weights= False)

In [39]:
xtrain.shape

(26048, 105)

In [40]:
model_history= classifier.fit(xtrain,y_train,validation_data=(xtest,y_test),batch_size=13,epochs=100,callbacks=early_stopping)

Epoch 1/100
2004/2004 [==============================] - 11s 4ms/step - loss: 0.3466 - accuracy: 0.8397 - val_loss: 0.3278 - val_accuracy: 0.8485
Epoch 2/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.3172 - accuracy: 0.8534 - val_loss: 0.3246 - val_accuracy: 0.8478
Epoch 3/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.3091 - accuracy: 0.8580 - val_loss: 0.3185 - val_accuracy: 0.8529
Epoch 4/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.3029 - accuracy: 0.8600 - val_loss: 0.3175 - val_accuracy: 0.8509
Epoch 5/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2970 - accuracy: 0.8630 - val_loss: 0.3269 - val_accuracy: 0.8501
Epoch 6/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2928 - accuracy: 0.8644 - val_loss: 0.3249 - val_accuracy: 0.8501
Epoch 7/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2889 - accuracy: 0.8665 - val_loss: 0.3295 - val_accuracy: 0.8509
Epoch 8/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2841 - accuracy: 0.8681 - val_loss: 0.3225 - val_accuracy: 0.8505
Epoch 9/100
2004/2004 [==============================] - 7s 4ms/step - loss: 0.2785 - accuracy: 0.8689 - val_loss: 0.3399 - val_accuracy: 0.8498
Epoch 10/100
2004/2004 [==============================] - 7s 4ms/step - loss: 0.2728 - accuracy: 0.8729 - val_loss: 0.3548 - val_accuracy: 0.8494
Epoch 11/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2676 - accuracy: 0.8738 - val_loss: 0.3443 - val_accuracy: 0.8498
Epoch 12/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2615 - accuracy: 0.8759 - val_loss: 0.3767 - val_accuracy: 0.8458
Epoch 13/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2567 - accuracy: 0.8789 - val_loss: 0.3633 - val_accuracy: 0.8475
Epoch 14/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2513 - accuracy: 0.8801 - val_loss: 0.3556 - val_accuracy: 0.8457
Epoch 15/100
2004/2004 [==============================] - 7s 4ms/step - loss: 0.2476 - accuracy: 0.8824 - val_loss: 0.3711 - val_accuracy: 0.8472
Epoch 16/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2425 - accuracy: 0.8856 - val_loss: 0.4208 - val_accuracy: 0.8428
Epoch 17/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2383 - accuracy: 0.8867 - val_loss: 0.4191 - val_accuracy: 0.8445
Epoch 18/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2317 - accuracy: 0.8893 - val_loss: 0.4412 - val_accuracy: 0.8501
Epoch 19/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2301 - accuracy: 0.8890 - val_loss: 0.4242 - val_accuracy: 0.8432
Epoch 20/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2249 - accuracy: 0.8924 - val_loss: 0.4606 - val_accuracy: 0.8454
Epoch 21/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2226 - accuracy: 0.8937 - val_loss: 0.4260 - val_accuracy: 0.8377
Epoch 22/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2171 - accuracy: 0.8962 - val_loss: 0.5069 - val_accuracy: 0.8408
Epoch 23/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2154 - accuracy: 0.8979 - val_loss: 0.5047 - val_accuracy: 0.8329
Epoch 24/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.2109 - accuracy: 0.8990 - val_loss: 0.4949 - val_accuracy: 0.8363
Epoch 25/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2067 - accuracy: 0.9030 - val_loss: 0.5404 - val_accuracy: 0.8371
Epoch 26/100
2004/2004 [==============================] - 7s 4ms/step - loss: 0.2059 - accuracy: 0.9030 - val_loss: 0.5728 - val_accuracy: 0.8372
Epoch 27/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.2008 - accuracy: 0.9034 - val_loss: 0.6748 - val_accuracy: 0.8386
Epoch 28/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1981 - accuracy: 0.9053 - val_loss: 0.5784 - val_accuracy: 0.8323
Epoch 29/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.1954 - accuracy: 0.9076 - val_loss: 0.5653 - val_accuracy: 0.8325
Epoch 30/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1927 - accuracy: 0.9074 - val_loss: 0.5974 - val_accuracy: 0.8310
Epoch 31/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1890 - accuracy: 0.9106 - val_loss: 0.5928 - val_accuracy: 0.8359
Epoch 32/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1864 - accuracy: 0.9126 - val_loss: 0.7504 - val_accuracy: 0.8310
Epoch 33/100
2004/2004 [==============================] - 7s 4ms/step - loss: 0.1853 - accuracy: 0.9122 - val_loss: 0.6734 - val_accuracy: 0.8279
Epoch 34/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1827 - accuracy: 0.9148 - val_loss: 0.7152 - val_accuracy: 0.8328
Epoch 35/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.1765 - accuracy: 0.9167 - val_loss: 0.8080 - val_accuracy: 0.8339
Epoch 36/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1763 - accuracy: 0.9160 - val_loss: 0.7211 - val_accuracy: 0.8253
Epoch 37/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1809 - accuracy: 0.9175 - val_loss: 0.6499 - val_accuracy: 0.8290
Epoch 38/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1733 - accuracy: 0.9176 - val_loss: 0.7327 - val_accuracy: 0.8297
Epoch 39/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1720 - accuracy: 0.9198 - val_loss: 0.7916 - val_accuracy: 0.8302
Epoch 40/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1681 - accuracy: 0.9221 - val_loss: 0.7589 - val_accuracy: 0.8326
Epoch 41/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.1679 - accuracy: 0.9230 - val_loss: 0.7961 - val_accuracy: 0.8311
Epoch 42/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1681 - accuracy: 0.9213 - val_loss: 0.8165 - val_accuracy: 0.8259
Epoch 43/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1651 - accuracy: 0.9235 - val_loss: 0.8008 - val_accuracy: 0.8302
Epoch 44/100
2004/2004 [==============================] - 7s 4ms/step - loss: 0.1636 - accuracy: 0.9240 - val_loss: 0.8122 - val_accuracy: 0.8265
Epoch 45/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1606 - accuracy: 0.9251 - val_loss: 1.0263 - val_accuracy: 0.8287
Epoch 46/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1630 - accuracy: 0.9243 - val_loss: 0.9189 - val_accuracy: 0.8276
Epoch 47/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.1608 - accuracy: 0.9258 - val_loss: 0.8965 - val_accuracy: 0.8244
Epoch 48/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.1542 - accuracy: 0.9284 - val_loss: 0.9532 - val_accuracy: 0.8299
Epoch 49/100
2004/2004 [==============================] - 6s 3ms/step - loss: 0.1552 - accuracy: 0.9274 - val_loss: 0.9876 - val_accuracy: 0.8283
Epoch 50/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.1528 - accuracy: 0.9294 - val_loss: 0.9314 - val_accuracy: 0.8323
Epoch 51/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.1576 - accuracy: 0.9289 - val_loss: 0.9197 - val_accuracy: 0.8270
Epoch 52/100
2004/2004 [==============================] - 7s 3ms/step - loss: 0.1503 - accuracy: 0.9304 - val_loss: 0.9339 - val_accuracy: 0.8216
Epoch 53/100
2004/2004 [==============================] - 7s 4ms/step - loss: 0.1526 - accuracy: 0.9301 - val_loss: 0.9766 - val_accuracy: 0.8274
Epoch 54/100
2004/2004 [==============================] - 7s 4ms/step - loss: 0.1510 - accuracy: 0.9312 - val_loss: 0.9085 - val_accuracy: 0.8273
Epoch 54: early stopping

In [41]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [42]:
y_pred = classifier.predict(xtest)

In [43]:
y_p=np.round(y_pred)

In [44]:
from sklearn.metrics import confusion_matrix

In [45]:
cm=confusion_matrix(y_test,y_p)

In [46]:
cm

array([[4432,  477],
       [ 648,  956]])

In [47]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_p,y_test)

In [48]:
score

0.8272685398433901

In [49]:
classifier.get_weights()

[array([[ 0.83294106,  0.05453285, -0.6420572 , ..., -0.3830434 ,
         -0.19860457,  0.08533709],
        [ 0.13565743, -0.27475396,  0.02545491, ...,  0.4106382 ,
         -1.3987595 ,  0.61270195],
        [-0.30650386, -0.10788997, -0.18313475, ...,  0.0545386 ,
          0.12336208,  0.07165976],
        ...,
        [ 0.31921127,  0.40192273,  0.900101  , ...,  0.5222717 ,
          0.36939463, -0.6772326 ],
        [ 0.45774412,  0.3495465 ,  0.15573594, ...,  0.21436845,
          0.3298403 , -0.3539099 ],
        [-0.01600507, -0.03254778,  0.03673565, ...,  0.18446875,
          0.11133312, -0.08207619]], dtype=float32),
 array([-0.61999696, -0.24806298, -0.18239483, -0.54719627, -0.1636455 ,
        -0.43068746, -0.14156677,  0.01813326, -0.1945755 , -0.69228333,
        -0.7059227 , -0.43885937, -0.46345675, -0.5126318 , -0.88580805,
        -0.3020268 , -0.3866582 , -0.7860254 , -0.14468883, -0.6770623 ,
        -0.7376105 , -0.37299275, -0.8238652 , -0.23267643, -0.37876147,
        -0.43663198, -0.81475943, -0.20540228, -0.22286724, -0.28814963,
        -0.36643332, -0.58699733, -0.47757977, -0.38531724, -0.7907068 ,
        -0.1652452 , -0.59490615, -0.8080824 , -0.38806808, -0.28166318,
        -0.71866816, -0.3000391 , -0.38928688, -0.7112278 , -0.69889194,
        -0.11146289, -0.33312902, -0.03482345, -0.19047397, -0.91373444,
        -1.1355594 , -0.14298245, -0.2951072 , -0.5303785 , -0.3335749 ,
        -0.43716827, -0.20012528, -0.6164804 , -0.69855016, -0.41251   ,
        -0.18406187, -0.3323471 , -0.41996196, -0.7591656 , -0.23786068,
        -0.07260049, -0.0856806 ,  0.05783733, -0.46474156, -0.7157313 ,
        -0.37182066, -0.5634275 , -0.43447578, -0.6062143 , -0.06937373,
        -0.22349708, -0.18629463, -0.4485449 , -0.16045664, -0.4528912 ,
        -0.00967821, -0.41270933, -0.7923566 , -0.59153014, -0.8646721 ,
         0.00381342, -0.32310745, -0.61022335, -0.09566287, -0.48135573,
        -1.1007419 , -0.69939876, -0.4644856 , -0.34974545, -0.55032045,
        -0.6120548 , -0.4949743 , -0.27421203, -0.46158442, -0.10724767,
         0.02523126, -0.8037121 , -0.32323512, -0.52066505], dtype=float32),
 array([[-2.3107065e-01,  1.5981752e-02, -1.8250462e-01, ...,
         -8.7316718e-04, -9.3401201e-02, -2.3023029e-01],
        [-2.3406225e-01,  2.8135896e-01,  4.4795507e-01, ...,
         -1.6326237e-01,  3.0230004e-01,  9.2815727e-02],
        [ 6.4447820e-02, -4.1145608e-01,  6.9862194e-02, ...,
         -1.8088201e-01, -4.0070084e-01, -5.3760743e-01],
        ...,
        [-2.7449366e-03, -3.1711254e-01, -1.2247754e+00, ...,
         -7.9093017e-02, -3.8815656e-01, -1.5255967e-01],
        [-2.7726060e-01, -1.7616760e-02, -1.0303261e+00, ...,
          9.1469072e-02, -2.3391081e-01,  4.4702556e-02],
        [ 1.9873664e-01, -1.3787089e-01, -5.0582427e-01, ...,
         -2.2543125e-01, -7.4467480e-01,  2.5017869e-02]], dtype=float32),
 array([ 0.09801464, -0.49308065,  0.2269783 , -0.51276845, -0.14970532,
        -0.14845265, -0.2802126 , -0.7213496 , -0.15675463, -0.01867166,
        -0.1927284 , -0.23333536, -0.576454  , -0.4387134 , -0.32728127,
        -0.5065347 , -0.05528959, -0.23406002, -0.1120951 , -0.11188796,
        -0.11049562, -0.23614028, -0.03565333, -0.27767268,  0.00108569,
        -0.18284376, -0.73536235, -0.00429893, -0.06728559,  0.23461214,
        -0.22935173, -0.33377823, -0.44293562, -0.27408528, -0.2607278 ,
        -0.3229283 , -0.30464053, -0.61372346, -0.00717303, -0.08313416,
         0.03951447, -0.6875891 , -0.01608174,  0.01976363, -0.01024645,
        -0.06054462, -0.61148   ,  0.06066785, -0.15927945, -0.4166952 ,
        -0.29874578, -0.28792077, -0.4996828 ,  0.35739604, -0.67930984,
        -0.24914859, -0.00513311,  0.20147291, -0.61086255, -0.6197312 ,
        -0.20553985,  0.17629157, -0.22976165,  0.08643961,  0.05614715,
         0.20094292, -0.397484  , -0.3510605 , -0.20003355, -0.22941922,
         0.23546202, -0.30877683, -0.43401283, -0.17896675, -0.608473  ,
        -0.08182139,  0.25317597, -0.5877342 , -0.11449634, -0.22534464,
        -0.21755238, -0.16073084, -0.17135063,  0.00771464, -0.5764494 ,
        -0.05708122, -0.72041166, -0.6371216 , -0.31308937, -0.07969501,
        -0.40661484, -0.31069562, -0.23295471, -0.35664684, -0.04039077,
        -0.09179203,  0.02690951,  0.12040456, -0.40160927,  0.18173613,
        -0.71046096, -0.0921917 , -0.22152953, -0.5090176 ], dtype=float32),
 array([[-0.44569716,  0.00373863, -0.4389352 , ..., -0.6237571 ,
          0.14033566, -0.45413923],
        [-0.04051825, -0.72908956,  0.30157685, ..., -0.04152553,
          0.38916785, -0.27915946],
        [-0.6210979 , -0.16284749, -0.04654468, ..., -0.49381733,
         -0.06754375, -0.17131773],
        ...,
        [-0.05273574,  0.20785424,  0.0398657 , ...,  0.04731555,
          0.1004503 ,  0.15115488],
        [-0.25100932, -0.7525126 ,  0.14758205, ...,  0.05763007,
          0.26396668,  0.25537416],
        [ 0.6176015 , -0.30025125, -0.0549596 , ...,  0.03439655,
         -0.0729839 , -0.34754193]], dtype=float32),
 array([ 3.17920029e-01,  2.47698322e-01,  5.82850911e-03, -2.96089292e-01,
         2.40179241e-01,  6.79793507e-02,  1.81724072e-01,  5.31874411e-02,
        -2.79840916e-01, -7.35351324e-01,  1.40711412e-01,  1.16909198e-01,
        -5.80772877e-01, -4.59452868e-02, -6.17674470e-01, -1.60547405e-01,
        -4.99320984e-01, -8.66965711e-01, -4.92995232e-01,  1.34612530e-01,
        -6.11356378e-01, -3.40013057e-01, -2.00396404e-01,  1.02511615e-01,
        -2.18005762e-01,  1.53515795e-02, -4.12472457e-01, -8.72179642e-02,
        -4.63826835e-01, -3.34290951e-01, -7.24505186e-01, -1.57166600e-01,
         1.05350539e-01, -2.94726014e-01,  1.99639097e-01,  4.40594733e-01,
        -5.34573376e-01, -3.86863112e-01,  4.99407113e-01, -1.32725596e-01,
        -5.16018450e-01, -6.03912890e-01, -3.46640587e-01, -2.23317891e-01,
        -4.22944605e-01, -5.92575967e-01,  2.07594633e-02,  4.23331410e-02,
         2.99128026e-01, -8.26354604e-03, -4.58786666e-01, -5.83951592e-01,
        -1.38465554e-01, -8.71198773e-02, -4.75040734e-01, -1.64081082e-01,
        -5.44257045e-01, -2.97020286e-01, -5.85096300e-01, -5.24247408e-01,
         4.42796908e-02,  3.41775298e-01, -2.66664028e-01,  2.77805150e-01,
         1.91407942e-03,  9.01011153e-05,  4.47746873e-01,  5.20910025e-01,
         2.42018715e-01,  5.55059388e-02, -1.46894231e-01, -6.07342839e-01,
         1.47309542e-01, -1.54315308e-01, -3.67485374e-01, -7.15140179e-02,
        -1.18124329e-01, -4.31208163e-01,  1.23451337e-01, -8.88692319e-01,
         1.56364247e-01,  6.30212963e-01, -3.01626265e-01, -2.16706157e-01,
        -3.71429533e-01, -1.42908677e-01,  1.83688685e-01, -2.40461037e-01,
        -3.37609857e-01, -2.48211741e-01, -1.07403673e-01,  2.59029686e-01,
        -3.44315648e-01, -3.60042900e-01, -5.60307384e-01,  4.98660237e-01,
         7.46101746e-03, -3.69925112e-01, -7.26305023e-02,  6.77919313e-02,
         2.90789723e-01,  3.38449121e-01, -2.46780306e-01, -5.31693935e-01],
       dtype=float32),
 array([[-0.00646627, -0.11794588,  0.17972702, ...,  0.14182393,
          0.27861315, -0.0524938 ],
        [ 0.14133401, -0.29028538, -0.06494725, ...,  0.01549459,
          0.05383408, -0.1910088 ],
        [-0.16236226, -0.04185992,  0.1253602 , ..., -0.11027183,
         -0.36615235,  0.26254004],
        ...,
        [-0.07305447, -0.03714287, -0.13947047, ..., -0.11807978,
         -0.26709038, -0.04430217],
        [-0.01655834, -0.0379045 , -0.14798473, ..., -0.21343319,
          0.07737846,  0.08659579],
        [-0.19597849, -0.02919319,  0.20007242, ...,  0.46191722,
          0.01762424, -0.20099902]], dtype=float32),
 array([-0.7156094 , -0.39920452,  0.00750434, -1.2026784 , -0.41944304,
        -0.6324844 , -0.96061635, -0.5361938 ,  0.3352427 , -0.5013242 ,
         0.70328796, -0.37959886, -0.7660781 , -0.2828191 , -0.4412014 ,
        -0.88856053, -0.08572643,  0.50821865, -0.55354786, -0.7889803 ,
        -0.46556213, -0.73018545, -0.567461  ,  0.01631283, -0.23544368,
        -0.23676634, -0.69031924, -0.255357  , -0.95778614, -0.59566   ,
        -0.5892013 ,  0.01728796, -0.8336416 , -0.70582134, -0.7181558 ,
        -0.3283228 , -0.5890535 , -0.53076243,  0.18314242, -0.01103828,
        -0.96016455,  0.01674041, -0.5942452 , -0.8574367 , -0.4129024 ,
        -0.3575372 , -0.56453794, -0.38989097, -0.62443376, -0.69498855,
        -0.830764  ,  0.4563887 ,  0.02757037, -0.41841602,  0.62960565,
        -0.30817777, -0.6687061 , -0.30221695, -0.754768  ,  0.5159711 ,
        -0.80943334, -0.71924   , -0.50974166, -0.33356425, -0.53881663,
        -0.6213149 , -0.6172854 , -0.04261525,  0.809505  ,  0.89832485,
        -0.76510066, -0.40485305, -0.95153135, -0.47612062, -0.36329624,
        -0.2580868 ,  0.6383015 , -0.43536285, -0.843553  , -0.6173975 ,
        -0.6769403 , -0.44393176, -1.0027273 , -0.58991015, -0.41663012,
         0.29890725,  0.2858585 ,  0.3452556 , -0.5174879 , -0.61184186,
        -0.6712974 , -0.54056257, -0.13399318, -0.8573745 , -0.9364797 ,
         0.82263345, -0.29088446,  0.9630917 , -0.7527156 , -0.610515  ,
        -0.54123896, -0.29471648,  0.48775843, -0.87166315], dtype=float32),
 array([[ 0.06165759],
        [-0.02625551],
        [-0.08455533],
        [ 0.00147806],
        [-0.02610206],
        [-0.03230128],
        [ 0.03186562],
        [ 0.00109956],
        [ 0.03442893],
        [ 0.14334401],
        [-0.1368952 ],
        [-0.00242787],
        [-0.03446767],
        [-0.16660745],
        [-0.02003656],
        [ 0.00280493],
        [ 0.04473472],
        [ 0.02702127],
        [ 0.0310582 ],
        [-0.08191893],
        [-0.20280236],
        [-0.02562195],
        [ 0.24089243],
        [ 0.05078547],
        [-0.12412267],
        [ 0.02736402],
        [-0.00169646],
        [-0.02455443],
        [-0.06131478],
        [-0.008222  ],
        [ 0.06017658],
        [ 0.3651902 ],
        [ 0.11411052],
        [ 0.04422715],
        [-0.02439602],
        [-0.2993411 ],
        [ 0.04946674],
        [-0.00657414],
        [-0.03660602],
        [ 0.05124877],
        [ 0.00859453],
        [ 0.16842087],
        [ 0.18778402],
        [ 0.03480075],
        [ 0.09667864],
        [-0.2147641 ],
        [ 0.00463603],
        [-0.02098684],
        [ 0.01245287],
        [ 0.21335763],
        [ 0.03709056],
        [-0.59240395],
        [-0.01319119],
        [-0.01433971],
        [ 0.08083767],
        [ 0.00440006],
        [-0.08975734],
        [ 0.04246163],
        [ 0.11402312],
        [-0.15198308],
        [-0.0851145 ],
        [ 0.19419213],
        [-0.12658723],
        [ 0.18339047],
        [-0.04850921],
        [ 0.01105197],
        [ 0.01302633],
        [ 0.10399329],
        [-0.02257718],
        [-0.12740874],
        [ 0.01352519],
        [ 0.07360474],
        [ 0.05174598],
        [-0.0971526 ],
        [ 0.05208232],
        [ 0.12452308],
        [ 0.17530468],
        [-0.2232242 ],
        [ 0.03768868],
        [ 0.05349356],
        [ 0.03636248],
        [-0.23953737],
        [-0.04694959],
        [ 0.01506691],
        [ 0.11338753],
        [ 0.19586726],
        [ 0.10008075],
        [-0.1340447 ],
        [ 0.31371996],
        [-0.17092282],
        [-0.01532131],
        [-0.23892213],
        [ 0.10202354],
        [-0.01011316],
        [ 0.00556697],
        [-0.15099524],
        [ 0.09836813],
        [-0.21928146],
        [-0.01005042],
        [ 0.02252259],
        [-0.04172477],
        [ 0.09181304],
        [ 0.18638416],
        [-0.01503492]], dtype=float32),
 array([-0.15431961], dtype=float32)]

In [50]:
classifier.save('model.h5')